@use "variables" as *; //this puts all the variables in the global namespace.
// @use 'atoms';
//@use 'molecules';
//@use 'organisms' as o;

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
* {
  box-sizing: border-box;
}
html {
  background: url("images/moon-texture.png") ,url("images/biggersky.jpg");
  background-repeat: no-repeat; 
  width:100%;
  height:100%;
  margin:auto;
  position: absolute, relative;
  background-color: #160e0c;
}
p{
  font-family: 'Poppins', sans-serif;
}
h3{
  font-family: 'Jua', sans-serif;
  font-size:150%;
}

body {
  font-size: 85%;
  // padding: 10%;
  width:100%;
  background-repeat: no-repeat; 
  // background-image:url("images/layoutitems/paper.png");
  //background-image:url("images/layoutitems/rocketcropped.png");
  background-size:1000px,200px,1000px;
  // margin:10%;
  background-image:url("images/layoutitems/combined2.png"),url("images/jekfinal.png"),url("images/earth.png"),;//, url("images/jek.png");
  position: absolute; 
  background-position:center, right bottom,bottom,;
  padding-top:1050px;
  padding-bottom:20px;
  height:4300px;
  margin:auto;
}
.intro h1,h2{
  font-family: Helvetica Neue, Arial, sans-serif;
  font-size:7em;
  color:white;
  margin-bottom:0;
}
.intro h2{
  font-size:3em;
  margin-bottom:20px;
}

.page-wrapper a{
  text-decoration:none;
  color:black;
  font-weight: bold;
  font-size: 110%;
}



.page-wrapper{
 position: absolute;
 display: grid;
 grid-template-rows: 300px 200px 800px 400px auto 500px auto;
 grid-template-columns:1fr;
 top: 0px;
 background-repeat: no-repeat;
 width:70%;
 margin:auto;
margin-left:15%;
 height:1000px;
//  overflow-y:scroll;
//  scrollbar-width: thin;
// position:center;
}

// .intro, .preamble, .explanation, #zen-supporting, .participation, .benefits, .requirements{
//   width:100%;
//   //margin-left:30%;
//   margin:auto;
//   // padding-bottom:15px;
// }


//GRID:
.intro header, .intro h2{
  //background-color:white;
  grid-row: 1/2;
  width:80%;
  margin:auto;
  text-align:center;
  position:static;
}
.intro #zen-summary.summary, .intro a{
 // background-color:white;
 color:white;
  grid-row: 2/3;
  width:80%;
  margin:auto;
  text-align:center;
  position:static;

}

#zen-preamble{
 // background-color:green;
  grid-row: 4/5;
  width:50%;
  margin:auto;
}

#zen-supporting{
 // background-color:red;
  grid-row: 5/6;
  width:50%;
  margin:auto;
  overflow-y:scroll;
  scrollbar-width: thin;
 position:center;
 height:700px;
}

.sidebar {
  // position: absolute;
  // top: 2000px;
  // background-color: aqua;
   grid-row: 6/7;
   width:50%;
   margin-left:25%;
}

.intro {
  display: contents;
}

.preamble {
  grid-row: 4/5;
}

footer{
  margin:auto;
  text-align:center;
  
}
.wrapper{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows:1fr;
  margin:auto;
  margin-top:100px;
  //padding:10%;
 // padding-top:50px;
  text-align:center;
  color: black;


}

.wrapper li a {
  color: white;
}
.wrapper ul{
  list-style-type:none;
  border: black solid;
  color: white;
  background-color: black;
  margin-top: -40px;
  padding-top: 30px;
 z-index: 0;
 position: relative;
 border-radius: 10%;
 padding-left: 0%;
}
.design-selection{
  grid-column:1/2;

  
}
.design-archives{
  grid-column:2/3;
 
}
.zen-resources{
  grid-column:3/4;
 
}

h3.resources {
  background-color: #26A9E1;
  border-radius: 40%;
  height: 50px;
  width: 170px;
  z-index: 2;
}

h3.archives {
  background-color: #26A9E1;
  border-radius: 40%;
  height: 50px;
  width: 170px;
  z-index: 2;
}

h3.select {
  background-color: #26A9E1;
  border-radius: 40%;
  height: 50px;
  width: 170px;
  z-index: 2;
}
@media screen and (max-width:1190px) {

body{
  height:4300px;
}
.page-wrapper{
  grid-template-rows: 200px 500px 500px 400px auto 500px auto;
}

}

@media screen and (max-width:1025px) {

.page-wrapper{
width:90%;
margin-left:7%;
}
  
}

@media screen and (max-width:860px) {
  body{
    overflow-x:hidden;
    height:4300px;
  }
  .page-wrapper{
    grid-template-rows: 300px 300px 600px 400px auto 500px auto;
    width:120%;
    margin-left:-10%;
  }
}
@media screen and (max-width:800px) {

  .page-wrapper{
    grid-template-rows: 200px 300px 800px 400px auto 500px auto;
  }
  .intro h1 {
    font-size: 5em;
  }
  .intro h2{
    font-size: 3em;
  }
}


@media screen and (max-width:730px) {
  .wrapper a{
    font-size:70%;
  }
  .wrapper{
    width:120%;
  }
}

@media screen and (max-width:640px) {

  .page-wrapper{
  //width:150%;
  margin-left:-20%;
  } 
  }

@media screen and (max-width:500px) {
  .page-wrapper{
    grid-template-rows: 200px 400px 800px 400px auto 500px auto;
    //width:160%;
    margin-left:-10%;
  } 
  .wrapper{
    margin:10px;
    width:90%;
  }
  .sidebar{
    margin-left:50px;
    width:80%;
  }
}

@media screen and (max-width:345px) {
  .page-wrapper{
    grid-template-rows: 200px 500px 800px 400px auto 500px auto;
  } 
}






